%h1{:class => "table_heading"} Listing users

%table{:class => "tables"}
  %tr
    %th Profile Pic
    %th Username
    %th Gender
    %th Age
    %th Gender Preferences
    %th Location
    %th Hobbies
    %th About

  - @users.each do |user|
    %tr
      %td.thumb= image_tag user.image_url(:thumb).to_s
      %td= user.username
      %td= user.gender
      %td= user.age
      %td= user.genderpreferences
      %td= user.location
      %td= user.hobbies
      %td= user.about