<!DOCTYPE html>
<html lang="en">
  <head>
  	<meta charset="utf-8" />
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
  	<title><%= content_for?(:title) ? yield(:title) : "AlrightValentine" %></title>

  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= javascript_include_tag "https://js.stripe.com/v1/", "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= render 'users/navbar' %>

    <%= yield %>

    <div id="signup_window" class="reveal-modal" ></div>
    <div id="login_window" class="reveal-modal" ></div>

    <%= javascript_include_tag "application" %>
  </body>
</html>
